---
layout: page
title: Buscar en el sitio
permalink: /search/
image: /assets/images/search.webp
---
<h1 class="site-title"><a href="{{site.baseurl | preprend: site.url}}/">{{ site.title }}</a></h1>
{%-if site.subtitle-%}
	<p class="site-headline">{{ site.subtitle }}</p>
{%-endif-%}

<section>
  <div id="searchbox"></div>
  <div id="hits"></div>
  <div id="pagination"></div>
</section>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.22.1/dist/algoliasearch-lite.umd.js" integrity="sha256-pxkGFjfnFWYGOtV9uhCWK/spKiGS0Z7gVDKYm39LyfM=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.65.0/dist/instantsearch.production.min.js" integrity="sha256-5u4a3JbgF+Ok/p1R8e9iF4nWi4Qs8O1b89pc+8p1UB4=" crossorigin="anonymous"></script>
<script src="../js/search.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.1.0/themes/satellite-min.css" integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA=" crossorigin="anonymous">
