<footer class="site-footer">
  <nav class="navbar footermain icons">
    {%-for item in site.data.navbar_footer-%}
    <a href="{{item.link}}" class="navbar__item" aria-label="{{item.name}}" target="_blank" rel="noopener">
      <span class="icon" aria-hidden="true">
        {% include {{item.icon}} %}
      </span>
    </a>
    {% endfor %}
  </nav>
  <p>Letras Nubladas&copy; 2021</p>
</footer>
</main>
<!-- <script src="https://getinsights.io/js/insights.js"></script>
   <script>
	insights.init("L7zbw7EtkRXKbKZt");
	insights.trackPages();
   </script> -->
</body>

</html>
