<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
  <meta charset="utf-8">
	<meta name="robots" content="follow, index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#610841">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
  {%if page.image%}
  <link rel="preload" href="{{ page.image }}" as="image">
  {%-endif-%}
  <link rel="preload" href="/assets/images/bg.webp" as="image">
  {% feed_meta %}
  {% seo %}
</head>
