    
    <nav class="navbar navmain">
    	
   		{%-for item in site.data.navbar %}
   		<a class="navbar__item" href="{{ site.baseurl }}{{item.link}}"><span class="icon is-small">{%-include {{item.icon}}-%}</span> {{ item.name }}</a>
   		{%-endfor %}
    </nav>
    