---
---
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap'); */
:root{
  --primary: #610841;
  --accent: #610841bb;
  --color: #334455;
  --color2: #c0c0c0;
  --bgColor: #fafafadd;
  --font: system-ui, sans-serif; 
  --font2: 'serif';
}
/* Tags Start */
html{
  box-sizing: border-box;
  font: 16px/26px var(--font);
}
*{
  margin: 0;
  box-sizing: inherit;
}
body{
  
  color: var(--color);
  background: #EFF0EB url('{{ "/assets/images/bg.webp" | relative_url }}') no-repeat fixed center/cover;
  padding: 5px;
  text-rendering: optimizeLegibility;
	font-display: optional; 
}
img:not(.header__img) {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--font2);
  font-weight: 400;
}
hr{
  border: none;
  height: 4px;
  max-width: 30%;
  background-color: var(--color2);
  margin: 1rem auto;
}
a{
  color: var(--primary);
}
a:hover{
  color: var(--accent);
}
time{
  font-size: 90%;
  font-weight: bold;
}
blockquote{
  background-color: var(--color2);
  padding: 2rem;
  border-left: 0.5rem solid var(--color);
  border-radius: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
dl{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-style: italic;
}
dt{
  border-bottom: 1px dotted var(--color2);
}
dd{
  margin-bottom: 1rem;
}
ul{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media print {
  .no-print{
    display: none;
  }
  main.container{
    min-width: 90%;
  }
  p{
    orphans: 3;
    widows: 3;
  }
}
table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
th,td{
  padding: 0.25rem 1rem;
}
tr:nth-child(even){
  background-color: var(--color2);
  transition: 0.25s;
}
tr:hover,thead,tfoot{
  background-color: var(--primary);
  color: var(--bgColor);
}
/* Tags End */
/* Site classes */
.container{
  max-width: 460px;
  margin: 3rem auto;
  background: var(--bgColor);
  overflow: hidden;
  border-radius: 0.5rem;
  @media screen and (max-width: 480px) {
    margin-top: 0.5rem;
  }
}
.header__img{
  width: 100%;
  height: auto;
  display: block;
  @media print {
    display: none;
  }
}
.site-title{
  margin-top: 2rem;
  text-align: center;
  color: var(--primary);
  a{
    text-decoration: none;
  }
}
.site-headline{
  text-align: center;
  margin-bottom: 1rem;
}
.site-footer{
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 3rem 3rem;
  border-top: 2px solid;
  border-image: linear-gradient(to right, transparent 20%, var(--primary), transparent 80%) 20;
  a{
    color: var(--color);
  }
  @media print{
    display: none;
  }
}
.page-content{
  padding: 1rem 2rem;
  text-align: center;
}
/* Site classes End */
/* Navbar Start */
.navbar{
  text-align: center;
  .navbar__item{
    font-size: 1rem;
    text-decoration: none;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    &:hover {
      --primary: var(--accent);
      color: var(--primary);
    }
  }
  &.footermain{
    margin-bottom: 1rem;
    a{
      font-size: 2rem;
      display: inline-block;
      &:hover{
        color: var(--primary);
      }
    }
  }
}
.related-posts{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media print {
    display: none;
  }
}
.related-posts__link{
  background-color: var(--color22, #c0c0c022);
  padding: 0.5rem;
  margin: 0.25rem;
	border-radius: 0.25rem;
  white-space: nowrap;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  color: gray;
  box-shadow: 0 5px 10px -8px #c0c0c0ee;
  &:hover{
    box-shadow: 0 5px 10px -3px var(--color);
  }
}
/* Navbar End */
/* Listed Posts Start */
.listed-post__title{
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  a:hover{
    color: var(--accent);
  }
}
.listed-post,
.post,
.page{
  padding: 1rem 2rem;
  h2 a{
    text-decoration: none;
    color: var(--primary);
  }
  h1 ~ p{
    margin-bottom: 1.5rem;
  }
}
/* Listed Posts End */
/* Page Start */
.post h1[id]{
  margin-bottom: 2rem;
}
/* Page End */
/* Post Start */
.icon-home{
  width: 4rem;
  height: 2rem;
  background-color: var(--color2);
  border-radius: 100% 0% 50% 50% / 0% 0% 100% 100%;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
.icon-home__link{
  padding-top: 0.2rem;
  font-size: 1rem;
  color: var(--bgColor);
  display: block;
}
.post__title{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: var(--primary);
}
.post__footer{
  p{
    margin-bottom: 1rem;
    font-size: smaller;
  }
  @media print {
    display: none;
  }
}
.breadcrumb__item--active{
  color: var(--color);
}
.footer__categories{
  padding: 0;
  list-style-type: none;
  display: flex;
}
.footer__category{
  margin-right: 0.25rem;
  padding:0.15rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--color2);
  font-size: smaller;
} 
/* Post End */
.footnotes{
  background-color: var(--color2);
  font-size: smaller;
  padding: 1rem 0;
}
.error404{
  text-align: center;
  h1{
    font-size: 5rem;
  }
}
.icons{
      display: flex;
      justify-content: center;
      align-items: center;
}
.icon{
  height: 1.25rem;
  width: 1.25rem;
  display: inline-grid;
  place-items: center;
  margin: 0.15rem;
}
.icon.is-home{
  height: 1.15rem;
  width: 1.15rem;
  margin-top: -0.5rem;
  color: var(--bgColor);
  transition: color 0.25s;
}
.icon.is-home:hover{
  color: var(--color);
}
