{%-include header.html-%}

<body>
  <main class="container">
    {% if page.image-%}
    <header class="header">
      <!-- {% include search-lunr.html %} -->
      <figure>
        <img class="header__img" src="{{ page.image }}" alt="{{ page.title }}" width="460" height="260" />
      </figure>
    </header>
    {% endif-%} {{ content }} {% include footer.html %}
  </main>
</body>
