---
layout: default
---
<div class="icon-home">
			<a class="icon-home__link" href="{{site.url}}{{site.baseurl}}/" aria-label="Ir al inicio del sitio">
				<span class="icon is-home">
				{%-include home.svg-%}
				</span>
			</a>
		</div>
<article class="post">
	{{ content }}
</article>
